body{

color: white; 
background-image: url(https://img.freepik.com/fotos-gratis/microfone-preto-e-prata-sobre-um-fundo-preto_87358-32.jpg);
font-family: "Matemasie", sans-serif;
}

header {

    padding: 20px;
    font-size: 40px;
    color: rgb(255, 255, 255)
    
    }

    .DavidKushner{
margin-top:  50px;
    }
    .DavidKushner{
        margin-top: 50px;
    }
    .artista{
        margin-top: 50px;
    }
    .titulo{
        margin-left: 535px;
    }
    h1{
        font-family: "Roboto", sans-serif;
    }
    h2{
        font-family: "Roboto", sans-serif;
    }
        p{
            font-family: "Roboto", sans-serif;        }
